<h1>IMPORTANDO AS BIBLIOTECAS QUE SERÃO USADAS NO PROJETO</h1>

In [3]:
#Celula contendo apenas as bibliotecas utilizadas
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

<h1>ANALISAREMOS O GRUPO :  http://dados.ufrn.br/group/ensino </h1>

In [4]:
docentes_url = "http://dados.ufrn.br/dataset/8bf1a468-48ff-4f4d-95ee-b17b7a3a5592/resource/ff0a457e-76fa-4aca-ad99-48aebd7db070/download/docentes.csv"
docentes = pd.read_csv(docentes_url, sep=';')

avaliacao_docentes_url = 'http://dados.ufrn.br/dataset/d5723d75-7e6e-4264-82aa-b96909b69f63/resource/7accd1d2-2793-460e-b98d-87a0679b9155/download/avaliacaodocencia.csv'
avaliacao_docentes = pd.read_csv(avaliacao_docentes_url, sep=';')

In [5]:
avaliacao_docentes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58875 entries, 0 to 58874
Data columns (total 12 columns):
id_docente                    58875 non-null int64
nome_docente                  58875 non-null object
id_turma                      58875 non-null int64
ano                           58875 non-null int64
periodo                       58875 non-null int64
qtd_discentes                 58875 non-null int64
postura_profissional_media    58875 non-null float64
postura_profissional_DP       58875 non-null float64
atuacao_profissional_media    58875 non-null float64
atuacao_profissional_DP       58875 non-null float64
autoavaliacao_aluno_media     58875 non-null float64
autoavaliacao_aluno_DP        58875 non-null float64
dtypes: float64(6), int64(5), object(1)
memory usage: 5.4+ MB

In [6]:
docentes.rename(columns={'id_servidor': 'id_docente'}, inplace = True)
docentes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2325 entries, 0 to 2324
Data columns (total 12 columns):
id_docente               2325 non-null int64
siape                    2325 non-null int64
nome                     2325 non-null object
formacao                 2325 non-null object
tipo_jornada_trabalho    2325 non-null object
vinculo                  2325 non-null object
categoria                2325 non-null object
classe_funcional         2325 non-null object
id_unidade_lotacao       2325 non-null int64
lotacao                  2325 non-null object
admissao                 2325 non-null object
Unnamed: 11              0 non-null float64
dtypes: float64(1), int64(3), object(8)
memory usage: 218.0+ KB

In [7]:
colunas = ['id_docente', 'lotacao', 'ano', 'postura_profissional_media', 'atuacao_profissional_media', 'autoavaliacao_aluno_media']

merge_docentes_avaliacao = pd.merge(docentes, avaliacao_docentes, on = 'id_docente')[colunas]

In [183]:
docentes_avaliacao_imd = merge_docentes_avaliacao[merge_docentes_avaliacao.lotacao == "INSTITUTO METROPOLE DIGITAL"]
docentes_avaliacao_imd.lotacao = "IMD"

docentes_avaliacao_dimap = merge_docentes_avaliacao[merge_docentes_avaliacao.lotacao == "DEPARTAMENTO DE INFORMÁTICA E MATEMÁTICA APLICADA"]
docentes_avaliacao_dimap.lotacao = "DIMAP"

/home/natanael/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:3643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [212]:
#Avaliacoes 2013 DIMAP/IMD
#IMD
docentes_avaliacao_imd_2013 = docentes_avaliacao_imd[docentes_avaliacao_imd.ano == 2013]
docentes_avaliacao_imd_2013 = docentes_avaliacao_imd_2013[~docentes_avaliacao_imd_2013.id_docente.duplicated()]
#DIMAP
docentes_avaliacao_dimap_2013 = docentes_avaliacao_dimap[docentes_avaliacao_dimap.ano == 2013]
docentes_avaliacao_dimap_2013 = docentes_avaliacao_dimap_2013[~docentes_avaliacao_dimap_2013.id_docente.duplicated()]
#CONCATENANDO
avaliacoes_2013 = pd.concat([docentes_avaliacao_dimap_2013, docentes_avaliacao_imd_2013])

In [211]:
#Avaliacoes 2014 DIMAP/IMD
#IMD
docentes_avaliacao_imd_2014 = docentes_avaliacao_imd[docentes_avaliacao_imd.ano == 2014]
docentes_avaliacao_imd_2014 = docentes_avaliacao_imd_2014[~docentes_avaliacao_imd_2014.id_docente.duplicated()]
#DIMAP
docentes_avaliacao_dimap_2014 = docentes_avaliacao_dimap[docentes_avaliacao_dimap.ano == 2014]
docentes_avaliacao_dimap_2014 = docentes_avaliacao_dimap_2014[~docentes_avaliacao_dimap_2014.id_docente.duplicated()]
avaliacoes_2014 = pd.concat([docentes_avaliacao_dimap_2014, docentes_avaliacao_imd_2014])

In [214]:
#Avaliacoes 2015 DIMAP/IMD
#IMD
docentes_avaliacao_imd_2015 = docentes_avaliacao_imd[docentes_avaliacao_imd.ano == 2015]
docentes_avaliacao_imd_2015 = docentes_avaliacao_imd_2015[~docentes_avaliacao_imd_2015.id_docente.duplicated()]
#DIMAP
docentes_avaliacao_dimap_2015 = docentes_avaliacao_dimap[docentes_avaliacao_dimap.ano == 2015]
docentes_avaliacao_dimap_2015 = docentes_avaliacao_dimap_2015[~docentes_avaliacao_dimap_2015.id_docente.duplicated()]
#CONCATENANDO
avaliacoes_2015 = pd.concat([docentes_avaliacao_dimap_2015, docentes_avaliacao_imd_2015])

In [218]:
#Avaliacoes 2016 DIMAP/IMD
#IMD
docentes_avaliacao_imd_2016 = docentes_avaliacao_imd[docentes_avaliacao_imd.ano == 2016]
docentes_avaliacao_imd_2016 = docentes_avaliacao_imd_2016[~docentes_avaliacao_imd_2016.id_docente.duplicated()]
#DIMAP
docentes_avaliacao_dimap_2016 = docentes_avaliacao_dimap[docentes_avaliacao_dimap.ano == 2016]
docentes_avaliacao_dimap_2016 = docentes_avaliacao_dimap_2016[~docentes_avaliacao_dimap_2016.id_docente.duplicated()]
#CONCATENANDO
avaliacoes_2016 = pd.concat([docentes_avaliacao_dimap_2016, docentes_avaliacao_imd_2016])

In [219]:
#Avaliacoes 2017 DIMAP/IMD
#IMD
docentes_avaliacao_imd_2017 = docentes_avaliacao_imd[docentes_avaliacao_imd.ano == 2017]
docentes_avaliacao_imd_2017 = docentes_avaliacao_imd_2017[~docentes_avaliacao_imd_2017.id_docente.duplicated()]
#DIMAP
docentes_avaliacao_dimap_2017 = docentes_avaliacao_dimap[docentes_avaliacao_dimap.ano == 2017]
docentes_avaliacao_dimap_2017 = docentes_avaliacao_dimap_2017[~docentes_avaliacao_dimap_2017.id_docente.duplicated()]
#CONCATENANDO
avaliacoes_2017 = pd.concat([docentes_avaliacao_dimap_2017, docentes_avaliacao_imd_2017])

In [223]:
avaliacoes_dimap = pd.concat([docentes_avaliacao_dimap_2013,docentes_avaliacao_dimap_2014,docentes_avaliacao_dimap_2015,docentes_avaliacao_dimap_2016,docentes_avaliacao_dimap_2017])
avaliacoes_imd = pd.concat([docentes_avaliacao_imd_2013,docentes_avaliacao_imd_2014,docentes_avaliacao_imd_2015,docentes_avaliacao_imd_2016,docentes_avaliacao_imd_2017])

avaliacoes = pd.concat([avaliacoes_dimap,avaliacoes_imd])

In [224]:
avaliacoes

,id_docente,lotacao,ano,postura_profissional_media,atuacao_profissional_media,autoavaliacao_aluno_media
4383,24949,DIMAP,2013,9.80,8.53,7.87
4792,24853,DIMAP,2013,9.43,9.27,8.64
5563,5755408,DIMAP,2013,8.73,8.34,8.50
5790,26044,DIMAP,2013,9.19,8.18,7.93
6138,25978,DIMAP,2013,9.39,9.02,8.09
6725,5755388,DIMAP,2013,10.00,9.28,8.66
9986,5752467,DIMAP,2013,9.12,8.27,7.96
10440,5752241,DIMAP,2013,7.35,7.84,8.80
11106,23713,DIMAP,2013,10.00,9.55,8.39
13168,5755046,DIMAP,2013,7.96,8.84,9.10
15096,5753616,DIMAP,2013,9.56,9.72,9.44
19751,64472,DIMAP,2013,9.94,9.43,8.83
24166,5754320,DIMAP,2013,8.57,5.24,7.97
26317,5753044,DIMAP,2013,9.28,8.57,7.84
27259,5751828,DIMAP,2013,9.83,8.66,8.20
27344,26012,DIMAP,2013,9.64,8.72,8.12
27840,22933,DIMAP,2013,9.88,9.57,8.89
28115,115827,DIMAP,2013,9.47,7.56,8.04
30391,5755047,DIMAP,2013,9.13,9.26,8.73
30530,35188,DIMAP,2013,9.83,8.75,8.89
31431,5755051,DIMAP,2013,9.95,9.43,8.77
34029,24798,DIMAP,2013,9.40,7.80,7.85
37221,62353,DIMAP,2013,9.45,8.99,8.42
39696,5751871,DIMAP,2013,9.84,9.04,8.53
39740,25868,DIMAP,2013,9.68,9.11,8.71
4384,24949,DIMAP,2014,9.69,8.92,8.61
4794,24853,DIMAP,2014,9.23,7.63,7.24
4999,5756592,DIMAP,2014,10.00,9.53,8.79
5564,5755408,DIMAP,2014,9.46,8.31,7.83
5791,26044,DIMAP,2014,8.93,8.04,8.83
...,...,...,...,...,...,...
22,5757141,IMD,2017,9.81,9.85,9.26
44,5756816,IMD,2017,9.38,8.95,8.80
116,5757540,IMD,2017,10.00,9.78,8.80
121,5758787,IMD,2017,9.32,9.47,8.95
194,5757438,IMD,2017,9.79,9.71,9.00
202,5757088,IMD,2017,10.00,9.84,9.21
381,5756806,IMD,2017,9.54,9.60,8.93
422,5757075,IMD,2017,9.68,9.78,8.92
585,5756813,IMD,2017,8.68,8.43,8.73
1156,5755281,IMD,2017,9.85,9.29,8.21
3868,5755819,IMD,2017,9.10,8.95,8.97
4341,5757969,IMD,2017,9.34,9.64,8.66
5560,5757958,IMD,2017,9.61,8.47,7.85
6172,5755274,IMD,2017,10.00,9.32,8.52
6793,5755108,IMD,2017,9.87,9.03,8.87
7727,5757905,IMD,2017,9.67,9.85,8.90
7766,5756386,IMD,2017,9.79,9.12,8.19
10671,5757883,IMD,2017,9.93,9.82,9.00
14531,5754613,IMD,2017,9.70,9.48,8.66
16017,5756802,IMD,2017,9.90,9.79,9.25
17684,5757620,IMD,2017,9.82,9.75,8.72
18328,5755871,IMD,2017,9.92,9.83,9.19
19534,5755402,IMD,2017,10.00,9.38,8.89
20299,5757071,IMD,2017,9.94,9.84,9.18
24164,5758815,IMD,2017,10.00,9.94,9.29
24975,5755939,IMD,2017,9.83,9.59,8.83
36820,5755872,IMD,2017,9.28,8.53,7.97
38061,5757844,IMD,2017,9.54,9.13,8.15
41121,5755963,IMD,2017,9.63,8.23,8.14
41239,5758730,IMD,2017,9.74,9.55,8.59

<h1> QUANTIDADE DE CURSOS PRESENCIAIS E A DISTANCIA DA UFRN EM 2017.2 </h1>

<h1> ESTUDANDO O DESEMPENHO </h1>

In [1]:
#VAMOS VERIFICAR E COMPARAR O DESEMPENHO
#DOS CURSOS PRESENCIAIS E A DISTÂNCIA DE GRADUAÇÃO
#AFIM DE COMPARAR A QUALIDADE DE ENSINO DE CADA

In [39]:
#FAZENDO O MERGE ENTRE AS TURMAS E AS NOTAS APENAS NAS COLUNAS ESPECIFICADAS
colunas = ["id_turma","nivel_ensino","nota","unidade","media_final","descricao","modalidade_participantes"]
merge_turmas_notas = pd.merge(turmas,notas,on="id_turma")[colunas]
merge_turmas_notas.dropna(inplace=True)
merge_turmas_notas.head()

,id_turma,nivel_ensino,nota,unidade,media_final,descricao,modalidade_participantes
1659,57603192,TÉCNICO,10.0,2.0,9.6,APROVADO,Presencial
1660,57603192,TÉCNICO,9.0,1.0,9.6,APROVADO,Presencial
1661,57603192,TÉCNICO,8.0,2.0,7.6,APROVADO,Presencial
1662,57603192,TÉCNICO,7.0,1.0,7.6,APROVADO,Presencial
1663,57603192,TÉCNICO,6.7,2.0,7.0,APROVADO,Presencial