<h1>IMPORTANDO AS BIBLIOTECAS QUE SERÃO USADAS NO PROJETO</h1>

In [1]:
#Celula contendo apenas as bibliotecas utilizadas
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

<h1>ANALISAREMOS O GRUPO :  http://dados.ufrn.br/group/ensino </h1>

In [17]:
#TURMAS 2017.2
#http://dados.ufrn.br/dataset/turmas

turmas_url = 'http://bit.do/turmas_ufrn_2017_2'
turmas = pd.read_csv(turmas_url,sep=';')

#NOTAS DAS TURMAS 2017.2
#http://dados.ufrn.br/dataset/matriculas-componentes

notas_url = 'http://bit.do/notas_ufrn_2017_2'
notas = pd.read_csv(notas_url, sep=';')

<h1> QUANTIDADE DE CURSOS PRESENCIAIS E A DISTANCIA DA UFRN EM 2017.2 </h1>

In [18]:
qtdecursos = turmas.modalidade_participantes.value_counts()
print(qtdecursos)

Presencial     14228
A Distância      244
Name: modalidade_participantes, dtype: int64

<h1> ESTUDANDO O DESEMPENHO </h1>

In [ ]:
#VAMOS VERIFICAR E COMPARAR O DESEMPENHO
#DOS CURSOS PRESENCIAIS E A DISTÂNCIA DE GRADUAÇÃO
#AFIM DE COMPARAR A QUALIDADE DE ENSINO DE CADA

#CONVERTENDO

In [39]:
#FAZENDO O MERGE ENTRE AS TURMAS E AS NOTAS APENAS NAS COLUNAS ESPECIFICADAS
colunas = ["id_turma","nivel_ensino","nota","unidade","media_final","descricao","modalidade_participantes"]
merge_turmas_notas = pd.merge(turmas,notas,on="id_turma")[colunas]
merge_turmas_notas.dropna(inplace=True)
merge_turmas_notas.head()

,id_turma,nivel_ensino,nota,unidade,media_final,descricao,modalidade_participantes
1659,57603192,TÉCNICO,10.0,2.0,9.6,APROVADO,Presencial
1660,57603192,TÉCNICO,9.0,1.0,9.6,APROVADO,Presencial
1661,57603192,TÉCNICO,8.0,2.0,7.6,APROVADO,Presencial
1662,57603192,TÉCNICO,7.0,1.0,7.6,APROVADO,Presencial
1663,57603192,TÉCNICO,6.7,2.0,7.0,APROVADO,Presencial